
    <nav class="navbar">
        <div class="container">
            <a href="#" class="brand-logo">Art Gallery</a>
           
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Artists</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Get Started
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Register</a></li>
                <li><a class="dropdown-item" href="#">Login</a></li>
              
              </ul>
            </div>
            
        </div>
    </nav>
    

<app-slideshow></app-slideshow>
<app-sign-up></app-sign-up>