/* src/app/slideshow/slideshow.component.css */
.slideshow-container {
  position: relative;
  max-width: 1000px;
  margin: auto;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.active {
  display: block !important;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.text {
  font-weight: bolder;
  color: white;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 200px;
  width: 100%;
  text-align: center;
  
}

// /* styles.css */

// body {
//     font-family: Arial, sans-serif;
//     background-color: #f8f9fa;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//     margin: 0;
//     flex-direction: column;
// }

// .card-container {
//     display: flex;
//     flex-direction: column;
//     gap: 20px;
//     align-items: center;
// }

// .card {
//     background-color: #fff;
//     border: 1px solid #ddd;
//     border-radius: 8px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//     overflow: hidden;
//     width: 18rem;
//     text-align: center;
// }

// .card img {
//     width: 100%;
//     height: auto;
// }

// .card-body {
//     padding: 16px;
// }

// .card-title {
//     margin: 16px 0;
//     font-size: 1.25rem;
//     font-weight: bold;
// }

// .card-text {
//     margin-bottom: 16px;
//     color: #666;
// }

// .btn {
//     background-color: #007bff;
//     color: #fff;
//     padding: 10px 20px;
//     border: none;
//     border-radius: 4px;
//     text-decoration: none;
//     display: inline-block;
// }

// .btn:hover {
//     background-color: #0056b3;
// }

/* styles.css */

b

.card-container .card:nth-child(3) {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 18rem;
  text-align: center;
  left: 5rem;
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 16px;
}

.card-title {
  margin: 16px 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  margin-bottom: 16px;
  color: #666;
}

.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background-color: #0056b3;
}
.image{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

